{{ define "main" }}
<h1 id="blog-title">Welcome to the Blog!</h1>
<p>This is where I write about life, programming, and other interests.</p>
<p>Browse recent posts below, view <a href="#">Tags</a>, or subscribe via <a href="#">Newsletter</a> or,   <a href="#">RSS</a>.</p>
<hr />
{{ range .Paginator.Pages.ByPublishDate.Reverse }}
<div class="blog-post-preview">
  <h2 class="blog-post-preview-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  {{ partial "metadata.html" . }}
  <!-- <a class="summary" href="{{ .RelPermalink }}"> -->
  <p id="summary">{{ .Summary }}</p>

  {{ with .Params.tags }}
  {{ range . }} {{ $href := print (absURL "tags/") (urlize .) }}
  <a id="tag" href="{{ $href }}">{{ . }}</a>
  {{ end }} {{ end }}

  <hr />
</div>			


{{ end }} 
{{ template "_internal/pagination.html" . }}

{{ end }}
