{{ define "main" }}
<style>
  .home-hero {
    margin-bottom: 20px;
  }
  .home-avatar img {
    border-radius: 9999px;
    width: 157px;
    margin-bottom: 20px;
  }


  .blog-post-card{
      border-radius: .25rem;
      border: 1px solid #dadada;
      padding: .5rem 1rem;
      margin-top: 1rem;
      background-color: #f6fafe;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
  }
  .blog-post-card:hover{
      border: 1px solid #3e87da;
  }

  .blog-post-card-title a{
    text-decoration: none;
    color: #303a45;
  }
  .blog-post-card-title {
    margin-bottom: 0;
  }

</style>

<div class="home-hero row">
  <div class="home-avatar col-sm-3">
    <img src="https://avatars1.githubusercontent.com/u/37414113?s=460&v=4" />
  </div>
  <div class="home-bio col-sm-9">
    <h1 style="font-weight: 600; font-size: 34px">Hey there, I'm Asad!</h1>
    <p>
      I'm a software dev in New Delhi 🇮🇳 and best-known for creating
      <a href="https://upscify.com">Upscify</a>. I also have
      <a href="/projects">some other projects</a> in the works.
    </p>
    <p>
      Reach me
      <a href="https://twitter.com/AsadAdvik" rel="noopener">@AsadAdvik</a>
    </p>
  </div>
</div>

<hr />

<h2 style="font-weight: 600; font-size: 28px">Recent Writings ✍🏻</h2>
<p>
  This year, I'm trying to write at least once a week. Here is some favorite
  from my <a href="/blog">Blog</a>.
</p>



{{ range first 3 .Paginator.Pages.ByPublishDate.Reverse }}
<div class="blog-post-card col-sm-12">
  <h4 class="blog-post-card-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
{{ partial "metadata.html" . }}

  
</div>			


{{ end }} 
{{ end }} 